skool/IST 311/Team Project/CourseLocatorApp/classes/xml/course.dtd

<?xml version="1.0"?>

<!ELEMENT courseLocator (course*)>

<!ELEMENT course (name?, address?, phonenum?, directions?, holes?, yards?, par?>

<!ELEMENT name (#PCDATA)>
<!ELEMENT address (#PCDATA)>
<!ELEMENT phonenum (#PCDATA)>
<!ELEMENT directions (#PCDATA)>
<!ELEMENT holes (#PCDATA)>
<!ELEMENT yards (#PCDATA)>
<!ELEMENT par (#PCDATA)>

